body {
    background: #f4f4f9;
    color: #333;
    padding: 30px;
}

.calculator-container {
    text-align: left;
    background: #fff;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff0000;
}

form {
    width: 100%;
}

label,
input {
    display: block;
    width: 90%;
    margin: 10px 0;
}

input {
    padding: 10px;
    font-size: 16px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.button-group button {
    background: #ff0000;
    color: white;
    border: none;
    padding: 10px;
    font-size: 14px;
    width: 48%;
    border-radius: 5px;
    cursor: pointer;
}


#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}